.login {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 40em;
}

.login form {
    width:18em;
}

.login .row {
    padding: 1em 0 0 0;
}

input.qty {
    color:black;
    width:5em;
    font-weight: bold;
}